@if (Request.IsAuthenticated) {
    <p>
        Hello, @User.Identity.Name.

        <br /><br />
        <input type="button" id="buttonLogout" value="Logout" class="btn" onclick="logout()" />
    </p>
} else {
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}